body {
	background: linear-gradient();
	background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(#1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(#1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align: justify;
}

h1, h2 {
	color: gold;
	text-shadow: 3px 3px 0 rgb(0, 0, 0, 0.2);
}

h2 {
	text-align: center;
}